* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #212935;
    height: 100%;
}

/* =================================
            Scroll Bar
==================================== */

::-webkit-scrollbar-track {
    background: rgba(15, 15, 15, 0.2);
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
::-webkit-scrollbar {
    width: 10px;
}

/* =================================
                Top
==================================== */

.blob {
    height: 50%;
}

i {
    color: #74C0FC;
}

.fa-facebook:hover {
    color: #35a1f3;
}

.fa-discord:hover {
    color: #59595a;
}

.fa-github:hover {
    color: #070707cb;
}

/* =================================
              Animations
==================================== */
@keyframes profileSlideFade {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes textSlide {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes interactSlide {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes float {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0px);
	}
}

.profile {
    animation: 1.5s ease-in-out 0s 1 profileSlideFade;
}

.name, .lvl, .desc {
    animation: 1.5s ease-in-out 1 textSlide;
}

.interactables {
    animation: 1.5s ease-in-out interactSlide;
}

.icon-1 {
    position: absolute;
    width: 120px;
    height: 100px;
    background-image: url(Images/html-icon.png);
    background-repeat: no-repeat;
    animation: float 6s ease-in-out infinite, fadeIn 4s ease-in-out 1;;
    
}

.icon-2 {
    margin-top: -6%;
    margin-left: 20%;
    position: absolute;
    width: 120px;
    height: 100px;
    background-image: url(Images/js-icon.png);
    background-repeat: no-repeat;
    animation: float 5.5s ease-in-out infinite, fadeIn 4s ease-in-out 1;
}

@media (max-width: 768px) {
    .icon-2 {
        margin-left: 60%;
    }
}

.line {
    background-color: white;
    height: 2px;
    width: 100vw;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

/* =================================
        Programming Langauges
==================================== */

.c-icon, .java-icon, .php-icon, .js-icon, .lua-icon, .py-icon, .sql-icon {
    position: relative;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    padding-right: -40;
    /* outline: 3px solid red; */
}

.lang {
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 100%;
    /* outline: 3px solid red; */
    height: 100%;
}

/* =================================
               Projects
==================================== */

.project-container {
    width: 100%;
    height: auto;
}

.card-body, .card {
    box-shadow: 10px 15px 24px 3px rgba(0,0,0,0.33);
    -webkit-box-shadow: 10px 15px 24px 3px rgba(0,0,0,0.33);
    -moz-box-shadow: 10px 15px 24px 3px rgba(0,0,0,0.33);
}

.card {
    background-image: radial-gradient(#383838, #151515);
}

.card-body {
    background-color: #fff;
}